
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    margin: 30px 0;
}
.title {
    font-weight: bold;
    font-size: 30px;
}

p {
    padding: 10px 0;
    font-size: 20px;
}